---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Benefit of using a B2B Order Management System">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <main id="main">
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>Benefits of Using Ordermatix</h2>
                    <p>
                        Discover how Ordermatix can transform your business
                        operations
                    </p>
                </header>

                <!-- Feature Tabs -->
                <div class="row feture-tabs" data-aos="fade-up">
                    <div class="col-lg-6">
                        <!-- Tab Content -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab1">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Reducing Human Error</h4>
                                </div>
                                <p>
                                    Minimizing the risk of human-error due to
                                    incorrect recording of orders that come in
                                    manually.
                                </p>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Reducing Potential Debt</h4>
                                </div>
                                <p>
                                    With our Limit Credit feature, you can limit
                                    the maximum purchase of buyers until they
                                    make payment, so that you can reduce the
                                    potential of large debt that can disrupt
                                    your capital. After the Limit Credit is
                                    reached, buyers will not be able to make new
                                    orders until they pay the previous order.
                                </p>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Speeding Up the Order Process</h4>
                                </div>
                                <p>
                                    Ordermatix makes order centralized and you
                                    can directly see all incoming orders to be
                                    processed. Discount calculation is also
                                    easier and automated without having to
                                    calculate manually.
                                </p>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>Increasing Customer Loyalty</h4>
                                </div>
                                <p>
                                    Orders are processed quickly, your customers
                                    are happy. Not to mention you can give
                                    discounts directly on Ordermatix so they
                                    keep ordering from you.
                                </p>
                            </div><!-- End Tab 1 Content -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img
                            src="assets/img/happy.webp"
                            class="img-fluid"
                            alt="happy business"
                        />
                    </div>
                </div><!-- End Feature Tabs -->
            </div>
        </section><!-- End Features Section -->
    </main><!-- End #main -->
</MainLayout>
