---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Frequently Asked Questions">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <main id="main">
        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>Frequently Asked Questions</h2>
                    <p>Answers to your questions about Ordermatix</p>
                </header>

                <div class="row">
                    <div class="col-lg-6">
                        <!-- F.A.Q List 1-->
                        <div class="accordion accordion-flush" id="faqlist1">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-1"
                                    >
                                        Why should I use Ordermatix? There are
                                        many other applications
                                    </button>
                                </h2>
                                <div
                                    id="faq-content-1"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist1"
                                >
                                    <div class="accordion-body">
                                        Ordermatix is an application that is
                                        specially designed for distributors,
                                        wholesalers, and manufacturers. With
                                        Ordermatix, you can easily manage
                                        orders, set discount rates for each
                                        buyer, set term of payment until credit
                                        limit they have. This is something that
                                        other applications do not have.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-2"
                                    >
                                        Is there any other cost that I need to
                                        prepare aside from the Ordermatix
                                        subscription cost?
                                    </button>
                                </h2>
                                <div
                                    id="faq-content-2"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist1"
                                >
                                    <div class="accordion-body">
                                        There is no other cost that you need to
                                        prepare aside from the Ordermatix
                                        subscription cost, unless you want to
                                        add specific features or modules that
                                        are excluded in the subscription
                                        package.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-3"
                                    >
                                        How long does it take from the first
                                        payment until my account is ready to
                                        use?
                                    </button>
                                </h2>
                                <div
                                    id="faq-content-3"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist1"
                                >
                                    <div class="accordion-body">
                                        The maximum time is 1x24 work hours
                                        after the first payment is received in
                                        our account. You will receive an email
                                        containing activation account
                                        information.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!-- F.A.Q List 2-->
                        <div class="accordion accordion-flush" id="faqlist2">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq2-content-1"
                                    >
                                        Is there any tutorial that can be
                                        accessed by me and my buyer?
                                    </button>
                                </h2>
                                <div
                                    id="faq2-content-1"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist2"
                                >
                                    <div class="accordion-body">
                                        We provide a tutorial that can be
                                        accessed within the Ordermatix
                                        application. The tutorial is presented
                                        in video format to make it easier for
                                        you to follow. You can also contact our
                                        support team if you have any further
                                        questions.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq2-content-2"
                                    >
                                        Do I need to have a server to run
                                        Ordermatix?
                                    </button>
                                </h2>
                                <div
                                    id="faq2-content-2"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist2"
                                >
                                    <div class="accordion-body">
                                        No, we have already provided the server
                                        for you. You can access it from the
                                        browser on your laptop or mobile phone.
                                        You only need an internet connection to
                                        access Ordermatix.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq2-content-3"
                                    >
                                        I have a business need that is more
                                        specific, can Ordermatix be customized
                                        according to my business?
                                    </button>
                                </h2>
                                <div
                                    id="faq2-content-3"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist2"
                                >
                                    <div class="accordion-body">
                                        Yes, we are flexible in meeting specific
                                        business needs. Don\'t hesitate to
                                        contact us <a href="contact">here</a> regarding
                                        your specific needs.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End F.A.Q Section -->
    </main><!-- End #main -->
</MainLayout>
