---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Available Features in B2B Order Management System Software">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <main id="main">
        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>Available Features</h2>
                    <p>
                        Explore the comprehensive features of Ordermatix to
                        streamline your B2B ordering process.
                    </p>
                </header>

                <div class="row gy-4">
                    <div
                        class="col-lg-4 col-md-6 d-flex align-items-stretch"
                        data-aos="fade-up"
                        data-aos-delay="100"
                    >
                        <div class="member">
                            <div class="member-img">
                                <img
                                    src="/assets/img/feature/aplikasi-buyer-portal-order-barang-agen-distributor-pabrikan.jpg"
                                    class="img-fluid"
                                    alt="buyer portal feature for online ordering system"
                                />
                            </div>
                            <div class="member-info">
                                <h4>Buyer Portal</h4>
                                <p>
                                    The entire order process is done in one
                                    portal that can be accessed online so that
                                    the order process becomes faster without
                                    having to manually record.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-lg-4 col-md-6 d-flex align-items-stretch"
                        data-aos="fade-up"
                        data-aos-delay="200"
                    >
                        <div class="member">
                            <div class="member-img">
                                <img
                                    src="/assets/img/feature/software-aplikasi-penjualan-agen-distributor-pabrikan.jpg"
                                    class="img-fluid"
                                    alt="report feature for online ordering system"
                                />
                            </div>
                            <div class="member-info">
                                <h4>Product Report</h4>
                                <p>
                                    You are able to know which products are
                                    popular and which are not in real-time. With
                                    this benefit, you can focus on the marketing
                                    strategy, which makes you one step ahead of
                                    competitors.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-lg-4 col-md-6 d-flex align-items-stretch"
                        data-aos="fade-up"
                        data-aos-delay="300"
                    >
                        <div class="member">
                            <div class="member-img">
                                <img
                                    src="/assets/img/feature/sistem-limit-kredit-buyer-distributor-agen.jpg"
                                    class="img-fluid"
                                    alt="limit credit feature for online ordering system"
                                />
                            </div>
                            <div class="member-info">
                                <h4>Discount Rate</h4>
                                <p>
                                    Give a different discount rate for each
                                    buyer. When they order, the system will
                                    automatically give discounts that match the
                                    discount rate you have set for the buyer.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-lg-4 col-md-6 d-flex align-items-stretch"
                        data-aos="fade-up"
                        data-aos-delay="400"
                    >
                        <div class="member">
                            <div class="member-img">
                                <img
                                    src="/assets/img/feature/fitur-diskon-pada-aplikasi-order-barang-agen-distributor-pabrikan.jpg"
                                    class="img-fluid"
                                    alt="discount rate feature for online ordering system"
                                />
                            </div>
                            <div class="member-info">
                                <h4>Discount Rate</h4>
                                <p>
                                    Give a different discount rate for each
                                    buyer. When they order, the system will
                                    automatically give discounts that match the
                                    discount rate you have set for the buyer.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-lg-4 col-md-6 d-flex align-items-stretch"
                        data-aos="fade-up"
                        data-aos-delay="400"
                    >
                        <div class="member">
                            <div class="member-img">
                                <img
                                    src="/assets/img/feature/fitur-multi-tax-pada-aplikasi-order-barang-online-distributor-agen-pabrikan.jpg"
                                    class="img-fluid"
                                    alt="multi tax online ordering system"
                                />
                            </div>
                            <div class="member-info">
                                <h4>Multi Tax</h4>
                                <p>
                                    You can create many tax elements that will
                                    be automatically added by the system when
                                    the buyer checkout.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-lg-4 col-md-6 d-flex align-items-stretch"
                        data-aos="fade-up"
                        data-aos-delay="400"
                    >
                        <div class="member">
                            <div class="member-img">
                                <img
                                    src="/assets/img/feature/customizeable.jpg"
                                    class="img-fluid"
                                    alt="bikin sistem aplikasi order barang yang spesifik"
                                />
                            </div>
                            <div class="member-info">
                                <h4>Customization</h4>
                                <p>
                                    We provide customization services to create
                                    an ordering system application that is
                                    specific to your company's needs. We will
                                    help you create an ordering system that is
                                    tailored to your company's needs, so that
                                    the ordering system can run smoothly and
                                    efficiently.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Team Section -->
    </main><!-- End #main -->
</MainLayout>
