---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Ordermatix - B2B Online Ordering System">
    <link rel="canonical" href="https://ordermatix.com" />
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center text-center">
        <div class="container">
            <div class="row">
                <div
                    class="col-lg-12 d-flex flex-column justify-content-center"
                >
                    <h1 data-aos="fade-up">A B2B Online Ordering System</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">
                        Automate your B2B orders. Eliminate manual errors and
                        speed up your operations.
                    </h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center">
                            <a
                                href="pricing"
                                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                            >
                                <span>Get Started for Free</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Hero -->
    </section>

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row gx-0">
                    <div
                        class="col-lg-6 d-flex align-items-center"
                        data-aos="zoom-out"
                        data-aos-delay="200"
                    >
                        <img
                            src="/assets/img/software.webp"
                            class="img-fluid"
                            alt="software aplikasi order barang untuk distributor, agen, wholesaler dan pabrikan"
                        />
                    </div>

                    <div
                        class="col-lg-6 d-flex flex-column justify-content-center"
                        data-aos="fade-up"
                        data-aos-delay="200"
                    >
                        <div class="content">
                            <h3>Who We Are</h3>
                            <h2>
                                Ordermatix is an online ordering system for
                                manufacturers, distributors, and wholesalers
                            </h2>
                            <p>
                                Ordermatix makes the process of ordering goods
                                that used to be manual and from various sources,
                                into one platform that is easy to use for you
                                and your buyers.
                            </p>
                            <div class="text-center text-lg-start">
                                <a
                                    href="pricing"
                                    class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                                >
                                    <span>Get Started for Free</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->

        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>Questions for You</h2>
                    <p>You Have This Situation..</p>
                </header>

                <!-- Feature Tabs -->
                <div class="row feture-tabs" data-aos="fade-up">
                    <div class="col-lg-6">
                        <!-- Tab Content -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab1">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        I must manually record orders because
                                        they are ordering from email, SMS, or
                                        Chat
                                    </h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        I must manually calculate the discount
                                        rate to each buyer
                                    </h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        I must manually check if their credit
                                        limit is still available or has expired
                                    </h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        I don't know how much revenue I have, it
                                        must be calculated manually
                                    </h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        I don't know which product is the most
                                        selling
                                    </h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        I don't know which buyer orders the most
                                    </h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        I want to eliminate the complexity of
                                        manual calculation and checking
                                    </h4>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-check2"></i>
                                    <h4>I want my business to move faster</h4>
                                </div>
                            </div><!-- End Tab 1 Content -->
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <img
                            src="/assets/img/masalah-order-barang.webp"
                            class="img-fluid"
                            alt="masalah order barang"
                        />
                    </div>
                </div><!-- End Feature Tabs -->
            </div>
        </section><!-- End Features Section -->

        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row gx-0">
                    <div
                        class="col-lg-12 d-flex flex-column justify-content-center"
                        data-aos="fade-up"
                        data-aos-delay="200"
                    >
                        <div class="content text-center">
                            <h2>If the answer to the above is "Yes"?</h2>
                            <p>
                                You need Ordermatix. This is an online ordering
                                system for manufacturers, distributors, and
                                wholesalers. Ordermatix answers all the above
                                questions so that your business can move faster.
                            </p>
                            <div class="text-center">
                                <a
                                    href="pricing"
                                    class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                                >
                                    <span>Get Started for Free</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
    </main>
</MainLayout>
