---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Price">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <main id="main">
        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>Pricing</h2>
                    <p>Affordable pricing for your business</p>
                    <br />
                    <h2 data-aos="fade-up" data-aos-delay="400">
                        Free 30 days with full features. No Credit Card
                        required.
                    </h2>
                    <br />
                </header>

                <div class="row gy-4" data-aos="fade-left">
                    <div
                        class="col-lg-4 col-md-6"
                        data-aos="zoom-in"
                        data-aos-delay="100"
                    >
                        <div class="box">
                            <h3 style="color: #07d5c0;">Monthly</h3>
                            <div class="price">
                                <sup>$</sup>29
                                <span> /month</span>
                            </div>
                            <img
                                src="assets/img/pricing-free.png"
                                class="img-fluid"
                                alt=""
                            />
                            <ul>
                                <li>Unlimited Products</li>
                                <li>Unlimited Buyers</li>
                                <li>Discount Rate Feature</li>
                                <li>Credit Limit Feature</li>
                                <li>Multi Tax Feature</li>
                                <li>Term of Payment Feature</li>
                                <li>Product Report Feature</li>
                                <li>Sales Report Feature</li>
                            </ul>
                            <a href="register?1" class="btn-buy">Try Now</a>
                        </div>
                    </div>

                    <div
                        class="col-lg-4 col-md-6"
                        data-aos="zoom-in"
                        data-aos-delay="200"
                    >
                        <div class="box">
                            <span class="featured">Featured</span>
                            <h3 style="color: #65c600;">Yearly</h3>
                            <div class="price">
                                <sup>$</sup>299
                                <span> /year</span>
                            </div>
                            <img
                                src="assets/img/pricing-starter.png"
                                class="img-fluid"
                                alt=""
                            />
                            <ul>
                                <li>Unlimited Products</li>
                                <li>Unlimited Buyers</li>
                                <li>Discount Rate Feature</li>
                                <li>Credit Limit Feature</li>
                                <li>Multi Tax Feature</li>
                                <li>Term of Payment Feature</li>
                                <li>Product Report Feature</li>
                                <li>Sales Report Feature</li>
                            </ul>
                            <a href="register?2" class="btn-buy">Try Now</a>
                        </div>
                    </div>

                    <div
                        class="col-lg-4 col-md-6"
                        data-aos="zoom-in"
                        data-aos-delay="300"
                    >
                        <div class="box">
                            <h3 style="color: #ff901c;">Custom</h3>
                            <div class="price">
                                <sup>$</sup>xxx<span>/year</span>
                            </div>
                            <img
                                src="assets/img/pricing-business.png"
                                class="img-fluid"
                                alt=""
                            />
                            <ul>
                                <li>Unlimited Products</li>
                                <li>Unlimited Buyers</li>
                                <li>Discount Rate Feature</li>
                                <li>Credit Limit Feature</li>
                                <li>Multi Tax Feature</li>
                                <li>Term of Payment Feature</li>
                                <li>Product Report Feature</li>
                                <li>Sales Report Feature</li>
                                <li>Custom Report Feature</li>
                                <li>Dedicated Server</li>
                                <li>Custom Domain Name</li>
                                <li>Custom Business Process</li>
                                <li>Additional Support</li>
                                <li>Online Training</li>
                            </ul>
                            <a href="contact" class="btn-buy">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Pricing Section -->
    </main><!-- End #main -->
</MainLayout>
